@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NextGen PTE</h1>
    <p class="lead">a free English learning website.</p> 
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Course Type</h2>
        <p>
            NextGen PTE offers four types of courses: inluding reading, listening, writing, and speacking
        </p>
      </div>
</div>
