@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MextGen PTE</h1>
    <p class="lead">NextGen PTE a free English learning website.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Course Type</h2>
        <p>
            NextGen PTE offers four types of courses: inluding reading, listening, writing, and speacking
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
 